* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100%;
    width: 65%;
    margin: 0 auto;
}

